header{
    margin-top: 50px;
    height: 530px;
    
    display: flex;
    justify-content: center;
    align-content: center;

}

header >div{
    background-image: url(../images/apple-pie.jpg);
    background-size: 800px;
    background-repeat: no-repeat;
    width: 800px;
    height: auto;
    display: flex;
    justify-content: center;
    
   

}

h1{
    font-size: 50px;
    color: white;
    text-align: center;
    }


#apple{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-flow: row;
}

#apple-receipe{
    width: 800px;
   
  }

#Ingredients >div >img, #directions >div >img{
    border-bottom: 2px solid grey;
}



h4{
    font-size: 20px;
}


@media(max-width: 800px){
    #test{
        font-size: 50px;
    }

}